<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>

<body>
<footer th:fragment="footer" class="container-fluid text-center">
    <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <div class="row">
        <div class="col-sm-5">
            <p>Comments, questions, or pesky bug reports? Contact me</p>
            <p><span class="glyphicon glyphicon-envelope"></span> zfenton.n7@gmail.com</p>
            <p>Or check out what else I got going on</p>
            <p><span class="glyphicon glyphicon-group"></span><a href="https://www.linkedin.com/in/zfenton-stl/">LinkedIn Account</a></p>
            <p><span class="glyphicon glyphicon-group"></span><a href="https://github.com/ZFenton">My GitHub</a></p>
        </div>
    </div>
</footer>
</body>
</html>