<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Deity - About</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

    <link href="../static/css/landing.css" th:href="@{/css/landing.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript" th:src="@{/js/landing.js}"></script>
</head>

<body id="landing" data-spy="scroll" data-target=".navbar" data-offset="60">

<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="jumbotron text-center">
    <h1>Movie Deity</h1>
    <p>A movie watchlist manager for indecisive film junkies</p>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Movie Deity</h2><br>
            <h4>Movie Deity is for avid movie watchers that have an overflowing backlog of movies they want to watch.
                Easily create a no commitment account and start adding those movies to a "watchlist". When you're in the
                mood for
                something to watch, but not really sure, let Movie Deity decide. You can choose for it to pick a movie
                at random
                from your entire watchlist, or choose a genre and let pick one at random from there.</h4><br>
            <p>Needing a solution to the back and forth the creator and his wife would go through when choosing a movie
                for movie night,
                Movie Deity was spawned. A genre was something easy to agree on, but a specific movie? That's a tough
                cookie. Now when a movie is chosen
                at random, the only thing at blame is lines of code.</p>
            <br>
            <!--TAKE TO SIGNUP SECTION-->
            <a href="#signUp" class="btn btn-primary">Sign me up!</a>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-film logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-question-sign logo slideanim"></span>
        </div>
        <div class="col-sm-8">
            <h2>Why Does This Exist?</h2><br>
            <h4><strong>THE WHY:</strong> The primary goal behind this simple application is for the designer/developer
                (contact info below) to gain experience and a deeper understanding with the technologies he is familiar
                with, along
                with picking up a few more along the way. Those technologies being, SpringBoot as the MVC framework,
                Spring Security,
                Thymeleaf as the templating language, and of course JavaScript (with JQuery) and CSS, all deployed and
                managed on Heroku.</h4><br>
            <p><strong>THE LONG TERM:</strong> Basically no different from the primary goal of this application. The
                future of
                this application is dependent on the pursuit of knowledge. Hopefully the pursuit of knowledge is never
                lacking, and as long
                as it isn't, this application will hopefully see enhancements and overhauls.</p>
        </div>
    </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>Here is a little bit about Movie Deity</h4>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 style="color:#303030;">Hand Built By One Developer</h4>
            <p>Movie Deity is built by a sole developer looking to impress
                <br/>Easy contact for suggestions and concerns</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-user logo-small"></span>
            <h4>FREE ACCOUNT</h4>
            <p>Create a free no commitment account</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-ban-circle logo-small"></span>
            <h4>CANCEL ANYTIME</h4>
            <p>Cancel and leave whenever you want</p>
        </div>
    </div>
    <br><br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-plus-sign logo-small"></span>
            <h4>ADD MOVIES TO YOUR WATCHLIST</h4>
            <p>Name a movie title, assign it a genre, and add it to your list</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-list-alt logo-small"></span>
            <h4>MAINTAIN A GENRE BASED WATCHLIST</h4>
            <p>Keep track of what is in your watchlist by adding or removing movies</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-gift logo-small"></span>
            <h4 style="color:#303030;">LET MOVIE DEITY CHOOSE FOR YOU</h4>
            <p>Pick your entire watchlist or a specific genre and let Movie Deity choose a movie for you</p>
        </div>
    </div>
</div>

<!-- Container (Sign Up Section) -->
<div id="signUp" class="container-fluid bg-grey">
    <h2 class="text-center">SIGN UP</h2>
    <form action="#" th:action="@{/signUp}" th:object="${user}" method="post">
        <div class="form-group">
            <label>Username (Letters and numbers only)</label>
            <input id="username" type="text" class="form-control" placeholder="Username" th:field="*{username}" />
        </div>
        <div class="form-group">
            <label>Password (Can contain letters, numbers, special characters, and must be at least 8 characters long)</label>
            <input id="password" type="password" class="form-control" placeholder="Password" th:field="*{password}" />
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input id="confirmPassword" type="password" class="form-control" placeholder="Password" />
        </div>
        <div class="form-group">
            <label>Email (Optional)</label>
            <input type="text" class="form-control" placeholder="Email" th:field="*{email}" />
        </div>
        <p class="text-center"><input class="btn btn-primary" type="submit" value="Submit" /> <input class="btn btn-primary" type="reset" value="Reset" /></p>
    </form>
</div>

<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>